# Dataset 1: Cleaning

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

Source: Eurostat, dataset [road_eqr_carpda](http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=road_eqr_carpda&lang=en)

In [2]:
df_orig = pd.read_csv("../data/road_eqr_carpda_1_Data.csv", encoding="ISO-8859-1",na_values=[":"])
df = df_orig.copy()
print(df.head())
print(df.tail())
print(df.columns)

   TIME      GEO    UNIT                          MOT_NRG    Value  \
0  2013  Belgium  Number               Petroleum products  169,665
1  2013  Belgium  Number  Liquefied petroleum gases (LPG)      NaN
2  2013  Belgium  Number                           Diesel  319,863
3  2013  Belgium  Number                      Natural Gas      109
4  2013  Belgium  Number                      Electricity      501

  Flag and Footnotes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
      TIME     GEO    UNIT                   MOT_NRG Value Flag and Footnotes
2375  2017  Turkey  Number  Hydrogen and fuel cellsÂ      0                NaN
2376  2017  Turkey  Number                Bioethanol     0                NaN
2377  2017  Turkey  Number                 Biodiesel     0                NaN
2378  2017  Turkey  Number                   Bi-fuel     0                NaN
2379  2017  Turkey  Number                     Other     0                NaN
Index(['TIME', 'GEO', 'UNIT', 'MOT_NRG', 'Value', 'Flag and Footnotes'], dtype='object')

## Column: Flag and Footnotes

In [3]:
print(df["Flag and Footnotes"].unique())
df[df["Flag and Footnotes"] == 'd']

[nan 'd']

,TIME,GEO,UNIT,MOT_NRG,Value,Flag and Footnotes
7,2013,Belgium,Number,Hybrid electric-petrol,"4,920",d
10,2013,Belgium,Number,Hybrid diesel-electric,912,d
58,2013,Estonia,Number,Hybrid electric-petrol,191,d
61,2013,Estonia,Number,Hybrid diesel-electric,4,d
136,2013,Italy,Number,Petroleum products,"419,045",d
138,2013,Italy,Number,Diesel,"707,641",d
142,2013,Italy,Number,Petrol (excluding hybrids),"419,045",d
153,2013,Cyprus,Number,Petroleum products,"11,758",d
155,2013,Cyprus,Number,Diesel,"2,998",d
204,2013,Hungary,Number,Petroleum products,"52,677",d
206,2013,Hungary,Number,Diesel,"72,343",d
207,2013,Hungary,Number,Natural Gas,244,d
209,2013,Hungary,Number,Alternative Energy,"1,917",d
219,2013,Hungary,Number,Bi-fuel,796,d
220,2013,Hungary,Number,Other,857,d
534,2014,Estonia,Number,Hybrid electric-petrol,308,d
537,2014,Estonia,Number,Hybrid diesel-electric,3,d
561,2014,Spain,Number,Petroleum products,"297,176",d
562,2014,Spain,Number,Liquefied petroleum gases (LPG),"1,108",d
563,2014,Spain,Number,Diesel,"590,360",d
564,2014,Spain,Number,Natural Gas,127,d
565,2014,Spain,Number,Electricity,"1,181",d
566,2014,Spain,Number,Alternative Energy,"2,589",d
567,2014,Spain,Number,Petrol (excluding hybrids),"288,860",d
568,2014,Spain,Number,Hybrid electric-petrol,"8,070",d
569,2014,Spain,Number,Plug-in hybrid petrol-electric,246,d
570,2014,Spain,Number,Diesel (excluding hybrids),"590,198",d
571,2014,Spain,Number,Hybrid diesel-electric,139,d
572,2014,Spain,Number,Plug-in hybrid diesel-electric,23,d
573,2014,Spain,Number,Hydrogen and fuel cells,0,d
...,...,...,...,...,...,...
2196,2017,Portugal,Number,Natural Gas,7,d
2197,2017,Portugal,Number,Electricity,"1,912",d
2198,2017,Portugal,Number,Alternative Energy,"6,248",d
2199,2017,Portugal,Number,Petrol (excluding hybrids),"74,356",d
2200,2017,Portugal,Number,Hybrid electric-petrol,"4,319",d
2202,2017,Portugal,Number,Diesel (excluding hybrids),"138,712",d
2203,2017,Portugal,Number,Hybrid diesel-electric,394,d
2205,2017,Portugal,Number,Hydrogen and fuel cells,0,d
2206,2017,Portugal,Number,Bioethanol,0,d
2207,2017,Portugal,Number,Biodiesel,0,d
2208,2017,Portugal,Number,Bi-fuel,0,d
2209,2017,Portugal,Number,Other,"2,534",d
2213,2017,Romania,Number,Natural Gas,424,d
2232,2017,Slovenia,Number,Alternative Energy,"1,838",d
2278,2017,United Kingdom,Number,Petroleum products,"1,446,500",d
2280,2017,United Kingdom,Number,Diesel,"1,049,086",d
2281,2017,United Kingdom,Number,Natural Gas,3,d
2282,2017,United Kingdom,Number,Electricity,"13,727",d
2283,2017,United Kingdom,Number,Alternative Energy,"13,744",d
2284,2017,United Kingdom,Number,Petrol (excluding hybrids),"1,342,152",d
2285,2017,United Kingdom,Number,Hybrid electric-petrol,"70,123",d
2286,2017,United Kingdom,Number,Plug-in hybrid petrol-electric,"34,225",d
2287,2017,United Kingdom,Number,Diesel (excluding hybrids),"1,047,685",d
2288,2017,United Kingdom,Number,Hybrid diesel-electric,783,d
2289,2017,United Kingdom,Number,Plug-in hybrid diesel-electric,618,d
2293,2017,United Kingdom,Number,Bi-fuel,11,d
2294,2017,United Kingdom,Number,Other,3,d
2315,2017,Norway,Number,Natural Gas,37,d
2336,2017,Switzerland,Number,Hybrid electric-petrol,"11,600",d
2339,2017,Switzerland,Number,Hybrid diesel-electric,300,d

In [4]:
# 'd' means "definition differs"
# Assume for simplicity that it is the same

df = df.drop("Flag and Footnotes",axis=1)

## Column: UNIT

In [5]:
df.UNIT.unique()

array(['Number'], dtype=object)

In [6]:
df = df.drop("UNIT",axis=1)

## Change column names

In [7]:
df.columns = ["time","country","motor","value"]
df.head()

   time  country                            motor    value
0  2013  Belgium               Petroleum products  169,665
1  2013  Belgium  Liquefied petroleum gases (LPG)      NaN
2  2013  Belgium                           Diesel  319,863
3  2013  Belgium                      Natural Gas      109
4  2013  Belgium                      Electricity      501

## Column: country

In [8]:
df.country.unique()

array(['Belgium', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Spain', 'France', 'Croatia', 'Italy', 'Cyprus',
       'Latvia', 'Lithuania', 'Hungary', 'Malta', 'Netherlands',
       'Austria', 'Poland', 'Portugal', 'Romania', 'Slovenia', 'Finland',
       'Sweden', 'United Kingdom', 'Liechtenstein', 'Norway',
       'Switzerland', 'North Macedonia', 'Turkey'], dtype=object)

In [9]:
df.country.replace(to_replace='Germany (until 1990 former territory of the FRG)', value='Germany', inplace=True)
df.country.unique()

array(['Belgium', 'Denmark', 'Germany', 'Estonia', 'Ireland', 'Spain',
       'France', 'Croatia', 'Italy', 'Cyprus', 'Latvia', 'Lithuania',
       'Hungary', 'Malta', 'Netherlands', 'Austria', 'Poland', 'Portugal',
       'Romania', 'Slovenia', 'Finland', 'Sweden', 'United Kingdom',
       'Liechtenstein', 'Norway', 'Switzerland', 'North Macedonia',
       'Turkey'], dtype=object)

## Column: value

In [10]:
df[[pd.isnull(x) for x in df.value]]

      time          country                             motor value
1     2013          Belgium   Liquefied petroleum gases (LPG)   NaN
8     2013          Belgium  Plug-in hybrid petrol-electric Â    NaN
11    2013          Belgium  Plug-in hybrid diesel-electric Â    NaN
12    2013          Belgium          Hydrogen and fuel cellsÂ    NaN
13    2013          Belgium                        Bioethanol   NaN
14    2013          Belgium                         Biodiesel   NaN
15    2013          Belgium                           Bi-fuel   NaN
18    2013          Denmark   Liquefied petroleum gases (LPG)   NaN
20    2013          Denmark                       Natural Gas   NaN
21    2013          Denmark                       Electricity   NaN
22    2013          Denmark                Alternative Energy   NaN
23    2013          Denmark      Petrol (excluding hybrids) Â    NaN
24    2013          Denmark            Hybrid electric-petrol   NaN
25    2013          Denmark  Plug-in hybrid petrol-electric Â    NaN
26    2013          Denmark      Diesel (excluding hybrids) Â    NaN
27    2013          Denmark            Hybrid diesel-electric   NaN
28    2013          Denmark  Plug-in hybrid diesel-electric Â    NaN
29    2013          Denmark          Hydrogen and fuel cellsÂ    NaN
30    2013          Denmark                        Bioethanol   NaN
31    2013          Denmark                         Biodiesel   NaN
32    2013          Denmark                           Bi-fuel   NaN
33    2013          Denmark                             Other   NaN
40    2013          Germany      Petrol (excluding hybrids) Â    NaN
41    2013          Germany            Hybrid electric-petrol   NaN
42    2013          Germany  Plug-in hybrid petrol-electric Â    NaN
43    2013          Germany      Diesel (excluding hybrids) Â    NaN
44    2013          Germany            Hybrid diesel-electric   NaN
45    2013          Germany  Plug-in hybrid diesel-electric Â    NaN
46    2013          Germany          Hydrogen and fuel cellsÂ    NaN
47    2013          Germany                        Bioethanol   NaN
...    ...              ...                               ...   ...
2305  2017    Liechtenstein            Hybrid diesel-electric   NaN
2306  2017    Liechtenstein  Plug-in hybrid diesel-electric Â    NaN
2307  2017    Liechtenstein          Hydrogen and fuel cellsÂ    NaN
2308  2017    Liechtenstein                        Bioethanol   NaN
2309  2017    Liechtenstein                         Biodiesel   NaN
2310  2017    Liechtenstein                           Bi-fuel   NaN
2311  2017    Liechtenstein                             Other   NaN
2313  2017           Norway   Liquefied petroleum gases (LPG)   NaN
2325  2017           Norway                        Bioethanol   NaN
2326  2017           Norway                         Biodiesel   NaN
2327  2017           Norway                           Bi-fuel   NaN
2337  2017      Switzerland  Plug-in hybrid petrol-electric Â    NaN
2340  2017      Switzerland  Plug-in hybrid diesel-electric Â    NaN
2346  2017  North Macedonia                Petroleum products   NaN
2347  2017  North Macedonia   Liquefied petroleum gases (LPG)   NaN
2348  2017  North Macedonia                            Diesel   NaN
2349  2017  North Macedonia                       Natural Gas   NaN
2350  2017  North Macedonia                       Electricity   NaN
2351  2017  North Macedonia                Alternative Energy   NaN
2352  2017  North Macedonia      Petrol (excluding hybrids) Â    NaN
2353  2017  North Macedonia            Hybrid electric-petrol   NaN
2354  2017  North Macedonia  Plug-in hybrid petrol-electric Â    NaN
2355  2017  North Macedonia      Diesel (excluding hybrids) Â    NaN
2356  2017  North Macedonia            Hybrid diesel-electric   NaN
2357  2017  North Macedonia  Plug-in hybrid diesel-electric Â    NaN
2358  2017  North Macedonia          Hydrogen and fuel cellsÂ    NaN
2359  2017  North Macedonia                        Bioethanol   NaN
2360  2017  North Macedonia                         Biodiesel   NaN
2361  2017  North Macedonia                           Bi-fuel   NaN
2362  2017  North Macedonia                             Other   NaN

[939 rows x 4 columns]

In [11]:
df.fillna(0,inplace=True)

In [12]:
df.dtypes

time        int64
country    object
motor      object
value      object
dtype: object

In [13]:
def remove_comma(x):
    return str(x).replace(',','')
df.value = df.value.apply(remove_comma).astype(int)

In [14]:
df.dtypes

time        int64
country    object
motor      object
value       int64
dtype: object

## Column: motor type

In [15]:
df['motor'].unique()

array(['Petroleum products', 'Liquefied petroleum gases (LPG)', 'Diesel',
       'Natural Gas', 'Electricity', 'Alternative Energy',
       'Petrol (excluding hybrids) \xa0', 'Hybrid electric-petrol',
       'Plug-in hybrid petrol-electric \xa0',
       'Diesel (excluding hybrids) \xa0', 'Hybrid diesel-electric',
       'Plug-in hybrid diesel-electric \xa0',
       'Hydrogen and fuel cells\xa0', 'Bioethanol', 'Biodiesel',
       'Bi-fuel', 'Other'], dtype=object)

In [16]:
# Will also remove \xa0 etc.
df.motor = df.motor.str.strip()

df.motor.unique()

array(['Petroleum products', 'Liquefied petroleum gases (LPG)', 'Diesel',
       'Natural Gas', 'Electricity', 'Alternative Energy',
       'Petrol (excluding hybrids)', 'Hybrid electric-petrol',
       'Plug-in hybrid petrol-electric', 'Diesel (excluding hybrids)',
       'Hybrid diesel-electric', 'Plug-in hybrid diesel-electric',
       'Hydrogen and fuel cells', 'Bioethanol', 'Biodiesel', 'Bi-fuel',
       'Other'], dtype=object)

In [17]:
mot_num = df[['motor','value']].groupby('motor').sum().loc[:,'value'].squeeze()
mot_num.plot.bar()

### Sanity test

In [18]:
print(mot_num['Diesel'])
print(mot_num['Diesel (excluding hybrids)'] + mot_num['Hybrid diesel-electric'] + mot_num['Plug-in hybrid diesel-electric'])

32433533
25249092

The data is inconsistent.

In [19]:
print(df[df.motor == 'Diesel (excluding hybrids)'])

      time          country                       motor    value
9     2013          Belgium  Diesel (excluding hybrids)   318951
26    2013          Denmark  Diesel (excluding hybrids)        0
43    2013          Germany  Diesel (excluding hybrids)        0
60    2013          Estonia  Diesel (excluding hybrids)     7341
77    2013          Ireland  Diesel (excluding hybrids)        0
94    2013            Spain  Diesel (excluding hybrids)        0
111   2013           France  Diesel (excluding hybrids)  1168194
128   2013          Croatia  Diesel (excluding hybrids)        0
145   2013            Italy  Diesel (excluding hybrids)   707641
162   2013           Cyprus  Diesel (excluding hybrids)     2998
179   2013           Latvia  Diesel (excluding hybrids)        0
196   2013        Lithuania  Diesel (excluding hybrids)        0
213   2013          Hungary  Diesel (excluding hybrids)    72343
230   2013            Malta  Diesel (excluding hybrids)     5266
247   2013      Netherlands  Diesel (excluding hybrids)   103557
264   2013          Austria  Diesel (excluding hybrids)   180901
281   2013           Poland  Diesel (excluding hybrids)        0
298   2013         Portugal  Diesel (excluding hybrids)        0
315   2013          Romania  Diesel (excluding hybrids)        0
332   2013         Slovenia  Diesel (excluding hybrids)        0
349   2013          Finland  Diesel (excluding hybrids)        0
366   2013           Sweden  Diesel (excluding hybrids)   175422
383   2013   United Kingdom  Diesel (excluding hybrids)        0
400   2013    Liechtenstein  Diesel (excluding hybrids)      857
417   2013           Norway  Diesel (excluding hybrids)        0
434   2013      Switzerland  Diesel (excluding hybrids)   115600
451   2013  North Macedonia  Diesel (excluding hybrids)    22778
468   2013           Turkey  Diesel (excluding hybrids)   383904
485   2014          Belgium  Diesel (excluding hybrids)   303212
502   2014          Denmark  Diesel (excluding hybrids)        0
...    ...              ...                         ...      ...
1879  2016  North Macedonia  Diesel (excluding hybrids)        0
1896  2016           Turkey  Diesel (excluding hybrids)   460781
1913  2017          Belgium  Diesel (excluding hybrids)   258956
1930  2017          Denmark  Diesel (excluding hybrids)        0
1947  2017          Germany  Diesel (excluding hybrids)        0
1964  2017          Estonia  Diesel (excluding hybrids)     6408
1981  2017          Ireland  Diesel (excluding hybrids)    87640
1998  2017            Spain  Diesel (excluding hybrids)   680355
2015  2017           France  Diesel (excluding hybrids)   978185
2032  2017          Croatia  Diesel (excluding hybrids)    71385
2049  2017            Italy  Diesel (excluding hybrids)  1130434
2066  2017           Cyprus  Diesel (excluding hybrids)    15478
2083  2017           Latvia  Diesel (excluding hybrids)     7445
2100  2017        Lithuania  Diesel (excluding hybrids)   110312
2117  2017          Hungary  Diesel (excluding hybrids)   113161
2134  2017            Malta  Diesel (excluding hybrids)     6858
2151  2017      Netherlands  Diesel (excluding hybrids)        0
2168  2017          Austria  Diesel (excluding hybrids)   175458
2185  2017           Poland  Diesel (excluding hybrids)   500112
2202  2017         Portugal  Diesel (excluding hybrids)   138712
2219  2017          Romania  Diesel (excluding hybrids)        0
2236  2017         Slovenia  Diesel (excluding hybrids)    32410
2253  2017          Finland  Diesel (excluding hybrids)    36062
2270  2017           Sweden  Diesel (excluding hybrids)   191059
2287  2017   United Kingdom  Diesel (excluding hybrids)  1047685
2304  2017    Liechtenstein  Diesel (excluding hybrids)        0
2321  2017           Norway  Diesel (excluding hybrids)    44349
2338  2017      Switzerland  Diesel (excluding hybrids)   113800
2355  2017  North Macedonia  Diesel (excluding hybrids)        0
2372  2017           Turkey  Diesel (excluding hybrids)   457060

[140 rows x 4 columns]

In [20]:
df[(df.time==2017) & (df.country=='Germany')]

      time  country                            motor    value
1938  2017  Germany               Petroleum products  1986488
1939  2017  Germany  Liquefied petroleum gases (LPG)     4400
1940  2017  Germany                           Diesel  1336776
1941  2017  Germany                      Natural Gas     3723
1942  2017  Germany                      Electricity    25056
1943  2017  Germany               Alternative Energy   143474
1944  2017  Germany       Petrol (excluding hybrids)        0
1945  2017  Germany           Hybrid electric-petrol        0
1946  2017  Germany   Plug-in hybrid petrol-electric        0
1947  2017  Germany       Diesel (excluding hybrids)        0
1948  2017  Germany           Hybrid diesel-electric        0
1949  2017  Germany   Plug-in hybrid diesel-electric        0
1950  2017  Germany          Hydrogen and fuel cells        0
1951  2017  Germany                       Bioethanol        0
1952  2017  Germany                        Biodiesel        0
1953  2017  Germany                          Bi-fuel        0
1954  2017  Germany                            Other   114255

In [21]:
df.to_csv('../data/road_eqr_carpda_pre.csv',header=True,index=False)

## Combine sparse classes in motor column

In [22]:
print(len(df.query('motor == "Diesel (excluding hybrids)" and value == 0')))
len(df.query('motor == "Diesel" and value==0'))

49

19

In [23]:
df2 = df.copy()

## Step 1

* Drop 'X (excluding hybrids)' (due to lack of data)
* Drop 'Alternative energy' (since it is merely the sum of 'electric' and 'other')

In [24]:
df2=df2[~df.motor.isin(['Diesel (excluding hybrids)','Petrol (excluding hybrids)','Alternative Energy'])]
df2.motor.unique()

array(['Petroleum products', 'Liquefied petroleum gases (LPG)', 'Diesel',
       'Natural Gas', 'Electricity', 'Hybrid electric-petrol',
       'Plug-in hybrid petrol-electric', 'Hybrid diesel-electric',
       'Plug-in hybrid diesel-electric', 'Hydrogen and fuel cells',
       'Bioethanol', 'Biodiesel', 'Bi-fuel', 'Other'], dtype=object)

## Step 2

* Keep 'Diesel', 'Petroleum products' and 'Electric'
* Combine all hybrids into one
* Combine all alternative energies into 'other'

In [25]:
df2.motor.replace('Petroleum products', 'petroleum', inplace=True)
df2.motor.replace('Diesel', 'diesel', inplace=True)
df2.motor.replace('Electricity', 'electricity', inplace=True)

df2.motor.replace(['Hybrid electric-petrol', 'Plug-in hybrid petrol-electric', 'Hybrid diesel-electric', 'Plug-in hybrid diesel-electric'], 'hybrid', inplace=True)
df2.motor.replace(['Liquefied petroleum gases (LPG)', 'Natural Gas', 'Hydrogen and fuel cells', 'Bioethanol', 'Biodiesel', 'Bi-fuel', 'Other'], 'other', inplace=True)

df2.motor.unique()

array(['petroleum', 'other', 'diesel', 'electricity', 'hybrid'],
      dtype=object)

In [26]:
df2.describe()

              time         value
count  1960.000000  1.960000e+03
mean   2015.000000  3.402595e+04
std       1.414574  1.636310e+05
min    2013.000000  0.000000e+00
25%    2014.000000  0.000000e+00
50%    2015.000000  0.000000e+00
75%    2016.000000  5.790000e+02
max    2017.000000  1.986488e+06

In [27]:
df2.head()

   time  country        motor   value
0  2013  Belgium    petroleum  169665
1  2013  Belgium        other       0
2  2013  Belgium       diesel  319863
3  2013  Belgium        other     109
4  2013  Belgium  electricity     501

In [28]:
df3 = pd.DataFrame(columns=df2.columns)
for (i,row) in df2.drop('value',axis=1).drop_duplicates().iterrows():
    partial = df2[(df2.time==row.time) & (df2.country==row.country) & (df2.motor==row.motor)]
    row['value'] = partial.value.sum()
    #print(row.motor, len(partial))
    df3 = df3.append(row)
df3.head()

   time  country        motor   value
0  2013  Belgium    petroleum  169665
1  2013  Belgium        other     340
2  2013  Belgium       diesel  319863
4  2013  Belgium  electricity     501
7  2013  Belgium       hybrid    5832

In [29]:
df3[df3.country.isin(['Netherlands','Belgium','Norway'])].head()

   time  country        motor   value
0  2013  Belgium    petroleum  169665
1  2013  Belgium        other     340
2  2013  Belgium       diesel  319863
4  2013  Belgium  electricity     501
7  2013  Belgium       hybrid    5832

## Find countries without data on electric cars

In [30]:
elec_by_country = df3[df3.motor=='electricity'].groupby('country').value.max()
elec_by_country[elec_by_country == 0]

country
Denmark            0
Italy              0
North Macedonia    0
Name: value, dtype: int64

**This dataset does not contain data on electric cars in Denmark and Italy!**

## Write end result

In [31]:
df3.to_csv('../data/road_eqr_carpda_cleaned.csv',index=False,header=True)